<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    {% endblock meta %}

    {% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    {% endblock styles %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock title %}
</head>

{% from "_macros/render_messages.html" import render_message %}
{% from "_macros/render_pagination.html" import render_pagination %}

<body>
    {% if current_user.is_authenticated %}
        {% include "partials/nav.html" %}
    {% endif %}
    
    <main>
        {% if current_user.is_authenticated %}
            {% include "partials/aside.html" %}
        {% endif %}

        <section class="section-main-block">
            <div class="toast-container">
                {{ render_message() }}
            </div>
            {%block content %}
            {% endblock content %}
        </section>
    </main>

    {% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    {% endblock scripts %}
</body>

</html>