<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% from 'bootstrap5/utils.html' import render_static %}

    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {% endblock meta %}

    {% block styles %}
    <!-- {{ bootstrap.load_css() }} -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />


    {{ render_static("css", "css/config.css") }}
    {{ render_static("css", "css/style.css") }}

    {% endblock styles %}

    {% block titles %}
    {% if title %}
    <title>{{ title }}</title>
    {% endif %}
    {% endblock titles %}
</head>

<body class="font-serif w-screen">
    {% if current_user.is_authenticated %}
    <nav class="text-white bg-black text-2xl max-lg:w-auto">
        <div class="flex justify-between items-center h-12 px-9 ">
            <div class="navbar-menu">
                <a href="#" class="navbar-brand">Flask Biblioteca</a>
            </div>
            <div class="navbar-profile">
                <span class="fas fa-user"></span>
            </div>
        </div>

    </nav>
    <aside class="bg-gray-800 text-white w-64 max-lg:w-full">
        <ul class="flex flex-col p-0 max-lg:flex-row max-lg:justify-around w-full">
            <li class="sidebar-item">
                <a href="{{ url_for('main.index') }}" class="sidebar-link">
                    <span class="fas fa-home"></span>
                    <span class="sidebar-name">Início</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('main.books') }}" class="sidebar-link">
                    <span class="fas fa-book"></span>
                    <span class="sidebar-name">Livros</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('main.lendings') }}" class="sidebar-link">
                    <span class="fas fa-exchange-alt"></span>
                    <span class="sidebar-name">Empréstimos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('auth.logout') }}" class="sidebar-link">
                    <span class="fas fa-door-open"></span>
                    <span class="sidebar-name">Sair</span>
                </a>
            </li>
        </ul>

    </aside>
    {% endif %}
    <main class="flex flex-col justify-center;
	items-center h-full py-5 mx-5">
        <section class="alert-messages-section">
            {% from "macros/messages/render_messages.html" import render_message %}
        </section>
        {% block content %}{% endblock content %}
    </main>

    {% block scripts %}
    <!-- {{ bootstrap.load_js() }} -->
    {{ render_static("js", "js/scripts.js") }}

    {% endblock scripts %}
</body>

</html>