<!DOCTYPE html>
<html lang="pt-br">

{% from "macros/form/form_errors.html" import render_form_errors %}

<head>

    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {% endblock meta %}

    {% block styles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    {% endblock styles %}

    {% block title %}
    <title>{{ title }}</title>
    {% endblock title %}
</head>

<body class="font-serif w-screen min-h-dvh bg-gray-200 flex flex-row overflow-hidden">


    {% if current_user.is_authenticated %}
    <aside class="bg-gray-800 text-white w-[16rem] max-lg:w-full h-screen">
        
        <div class="border-0 rounded-full bg-gray-200 w-[6rem] h-[6rem] my-3 mx-auto flex items-center justify-center max-lg:flex-col"
            id="navbar-profile">
            <a href=""><span class="fas fa-user text-[4rem]"></span></a>
        </div>
        <ul class="flex flex-col justify-start w-full overflow-y-scroll h-[inherit]">
            <li class="sidebar-item">
                <a href="{{ url_for('main.index') }}" class="sidebar-link">
                    <span class="fas fa-home"></span>
                    <span class="sidebar-name">Início</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('main.view_books') }}" class="sidebar-link">
                    <span class="fas fa-book"></span>
                    <span class="sidebar-name">Livros</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('main.lendings') }}" class="sidebar-link">
                    <span class="fas fa-exchange-alt"></span>
                    <span class="sidebar-name">Empréstimos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('auth.logout') }}" class="sidebar-link">
                    <span class="fas fa-door-open"></span>
                    <span class="sidebar-name">Sair</span>
                </a>
            </li>
        </ul>

    </aside>
    {% endif %}
    <div class="w-auto ">
        <button class="fas fa-bars text-[1.5rem]" id="collapse-sidebar"></button>
    </div>
    <main class="flex flex-col justify-center items-center  w-full h-full py-5 mx-5">

        {% from "macros/messages/render_messages.html" import render_message %}

        {% block content %}{% endblock content %}
    </main>

    {% block scripts %}

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    {% endblock scripts %}
</body>

</html>