<!DOCTYPE html>
<html lang="pt-br">

{% from "macros/form/form_errors.html" import render_form_errors %}

<head>

    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {% endblock meta %}

    {% block styles %}

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/config.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    {% endblock styles %}

    {% block title %}
        <title>{{ title }}</title>
    {% endblock title %}
</head>

<body class="font-serif w-screen">
    {% if current_user.is_authenticated %}
    <nav class="text-white bg-black text-2xl max-lg:w-auto">
        <div class="flex justify-between items-center h-12 px-9 ">
            <div class="navbar-menu">
                <a href="#" class="navbar-brand">Flask Biblioteca</a>
            </div>
            <div class="navbar-profile">
                <span class="fas fa-user"></span>
            </div>
        </div>
    </nav>
    <aside class="bg-gray-800 text-white w-64 max-lg:w-full">
        <ul class="flex flex-col p-0 max-lg:flex-row max-lg:justify-around w-full">
            <li class="sidebar-item">
                <a href="{{ url_for('main.index') }}" class="sidebar-link">
                    <span class="fas fa-home"></span>
                    <span class="sidebar-name">Início</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('main.books') }}" class="sidebar-link">
                    <span class="fas fa-book"></span>
                    <span class="sidebar-name">Livros</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('main.lendings') }}" class="sidebar-link">
                    <span class="fas fa-exchange-alt"></span>
                    <span class="sidebar-name">Empréstimos</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="{{ url_for('auth.logout') }}" class="sidebar-link">
                    <span class="fas fa-door-open"></span>
                    <span class="sidebar-name">Sair</span>
                </a>
            </li>
        </ul>

    </aside>
    {% endif %}
    <main class="flex flex-col justify-center;
	items-center h-full py-5 mx-5">
        
            {% from "macros/messages/render_messages.html" import render_message %}
       
        {% block content %}{% endblock content %}
    </main>

    {% block scripts %}

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    {% endblock scripts %}
</body>

</html>