@import url("./components/components.css");
@import url("./components/variables.css");
@import url("./layout/aside.css");
@import url("./layout/nav.css");
@import url("./layout/section.css");
@import url("./pages/login.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* min-height: 100dvh;
    overflow-y: hidden;   */
}

main {
    min-height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.ft_paginate{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
}

.btn-confirm{
    background-color: var(--primary-bg-color);
    color: var(--light-color);
    font-size: 1.2rem;
}

.btn-confirm:hover{
    background-color: var(--hover-color);
    color: var(--secondary-bg-color);
    border: 1px solid var(--primary-bg-color);
}