{% extends "layout.html" %}

{% block content %}
<section class="content">
    <h4 class="text-lg">Empréstimos</h4>
    <div class="menu-loan">
        <form action="" method="GET">
            <div class="flex">
                <input type="radio" id="all_lends" name="all_lends" value="all_lends" checked>
                <label for="all_lends">Todos</label><br>
            </div>
            <div class="flex">
                <input type="radio" id="laters" name="laters" value="laters">
                <label for="laters">Atrasados</label><br>
            </div>

        </form>
    </div>
</section>
<section class="flex items-center justify-center w-full h-5">

    <p>Em atraso: {{ delayed_books.get_delayed_books() }}</p>
    <p>devoluções de hoje: {{ delayed_books.get_day_return() }}</p>

</section>

<section class="w-full">
    <table class="w-full border border-slate-500 rounded-[50%]">
        <thead class=" text-white ">
            <tr class=" h-10 bg-slate-400 ">
                <th class="">Título do livro</th>
                <th class="">Nome do locatario</th>
                <th class="">Qtd. livros alugados</th>
                <th class="">Data do empréstimo</th>
                <th class="">Data da devolução</th>
                <th class="last:bg-slate-600">menu</th>

            </tr>
        </thead>
        <tbody class="border py-4 ">
            {% for lend in lends %}
            <tr class="h-10 {% if lend.get_delayed_date() %} 
                                border-2 bg-red-400
                           
                            {% endif %}">
                
                <td class="text-center">
                    <a href="{{ url_for('main.book_details', title=lend.books.title) }}" class="hover:text-blue-600">
                        {{ lend.books.get_title() }}
                    </a>
                </td>
                <td class="text-center">{{ lend.users.get_fullname() }}</td>
                <td class="text-center">{{ lend.quantity_lent }}</td>
                <td class="text-center">{{ lend.get_formated_date(lend.lending_date) }}</td>
                <td class="text-center">{{ lend.get_formated_date(lend.return_date) }}</td>
                <td class="text-center last:bg-white">
                    <div class="">
                        <a href="#" class="">N</a>

                        <a href="#" class="">R</a>

                        <a href="{{ url_for('main.return_book', id=lend.book_id) }}" class="w-10 bg-red-400">D</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
<section class="fixed bottom-2">
    {% from "macros/pagination/render_pagination.html" import render_pagination %}
    {{ render_pagination(lends, endpoint) }}
</section>
{% endblock content %}