{% extends "layout.html" %}


{% block content %}
{{ render_message() }}

<section class="content">
    
    <form action="{{ url_for('main.search_borrower', title=get_book.title) }}" class="w-[50rem] max-lg:w-full"
        method="POST">
        {{ form.hidden_tag() }}
        <div class="input-group">
            <span class="input-group-text fa fa-search "></span>
            {{ search_form.search(class="input-group-control ") }}
            {{ search_form.submit(class="p-2 bg-blue-950 text-white text-xl h-10 rounded-l-[-5px]") }}
        </div>
    </form>
</section>
<section class=" w-full bg-slate-400 rounded-md p-4">
    {% if get_user %}
        {{ get_user.firstname }}
    {% endif %}

</section>
<section class="">
    <div class="mirror">
        <form action="{{ url_for('main.new_loan', title=get_book.title) }}" method="POST">
            {{ form.hidden_tag() }}

            <div class="mt-3">
                {{ form.title.label}}
                {{ form.title(class="form-control rounded-lg border-2 border-gray-400") }}
            </div>
            <div class="mt-3">
                {{ form.quantity.label}}
                {{ form.quantity(class="form-control rounded-lg border-2 border-gray-400") }}
            </div>
            <div class="mt-3">
                {{ form.lending_date.label}}
                {{ form.lending_date(class="form-control rounded-lg border-2 border-gray-400") }}
            </div>
            <div class="mt-3">
                {{ form.return_date.label}}
                {{ form.return_date(class="form-control rounded-lg border-2 border-gray-400") }}
            </div>
            <div class="mt-3">
                {{ form.submit(class="button-control", value="Efetuar Empréstimo")
                }}
            </div>
        </form>
    </div>
</section>

{% endblock content %}