{% extends "layout.html" %}

<div class="w-[30rem] relative right-28 top-20 max-lg:w-[25rem] max-lg:right-0">
    {{ render_message() }}
</div>
{% block content %}


<section class="mirror">
    <div class="">
        <form action="{{ url_for('main.add_books') }}" method="POST">
            {{ form.csrf_token() }}
            <div class="mt-3">
                {{ form.title.label(class="label") }}
                {{ form.title(class="form-control" ) }}
            </div>
            <div class="mt-3">
                {{ form.author.label(class="label") }}
                {{ form.author(class="form-control" ) }}
            </div>
            <div class="mt-3">
                {{ form.isbn.label(class="label") }}
                {{ form.isbn(class="form-control" ) }}
            </div>
            <div class="mt-3">
                {{ form.quantity.label(class="label") }}
                {{ form.quantity(class="form-control" ) }}
            </div>
            <div class="mt-3">
                {{ form.submit(class="button-control") }}
            </div>
        </form>
    </div>
</section>

{% endblock content %}