{% extends "layout.html" %}

{% block content %}
<div class="">
    <div
        class="">
        <div class="">
            <img src="" alt="{{ book.title }}" class="">
        </div>
        <div class="">
            <div>
                <h2 class="">Título do livro: {{ book.title }}</h2>
                <h2 class="">Autor: {{ book.author }}</h2>
                <h2 class="">ISBN: {{ book.isbn }}</h2>
                <h2 class="">Total de livros: {{ book.total_of_books }}</h2>
                <h2 class="">Quantidade disponível:
                    {% if book.available_quantity < 1 %} Nenhum disponível {% elif book.available_quantity==1 %}
                        {{book.available_quantity }} livro {% else %} {{ book.available_quantity }} livros {% endif %}
                        </h2>
            </div>
            <div class="">
                {% if book.available_quantity > 0 %}
                <a href="{{ url_for('main.new_loan', slug=book.slug) }}" class="">Emprestar
                    livro</a>
                {% else %}
                <a href="{{ url_for('main.new_loan', slug=book.slug) }}"
                    class="">Emprestar
                    livro
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}