{% extends 'layout.html' %}
{% block content %}

<div class="content">
    <div class="cards">
        <div class="card">
            <div class="card-title">
                <span class="fas fa-book card-span"></span>
                <p class="">Total de obras</p>
            </div>
            <div class="card-value">
                <h2 class="">
                    {{ book_total }}
                </h2>
            </div>
        </div>

        <div class="card">
            <div class="card-title">
                <span class="far fa-calendar card-span"></span>
                <p class="">Devoluções do mês</p>
            </div>
            <div class="card-value">
                <h2 class="">{{ monthly_loans }}</h2>
            </div>
            <span id="month"></span>
        </div>

        <div class="card">
            <div class="card-title">
                <span class="far fa-calendar card-span"></span>
                <p class="">Devoluções do dia</p>
            </div>
            <div class="card-value">
                <h2 class="">{{due_today}}</h2>
            </div>
            <span class="" id="day"></span>
        </div>
        <div class="card">
            <div class="card-title">
                <div class="card-span-group">
                    <span class="far fa-clock card-span"></span>
                    <span class="fas fa-exclamation-triangle card-span"></span>
                </div>
                <p class="">Em atraso</p>
            </div>
            <div class="card-value">
                <h2 class="">{{ delayed_loans }}</h2>
            </div>
        </div>
    </div>

    <div class="">
        <h4>Os 10 livros mais lidos</h4>
        <div class="book-list">
            {#{ current_user.fullname }#}
        </div>
        <div class="arrow-buttons">
            <button class="bi bi-arrow-left-circle"></button>
            <button class="bi bi-arrow-right-circle"></button>
        </div>
    </div>
</div>

{% endblock content %}