/* CONFIG */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 2fr 5fr 5fr 1fr;
	grid-template-areas:
		"aside main main main";
	min-height: 100dvh;
	/* overflow-x: hidden; */
}
nav {
	grid-area: nav;
}

aside {
	grid-area: aside;
}

main {
	grid-area: main;
}

@media (width <= 1024px) {
	body {
		grid-template-rows: 50px auto 50px;
		grid-template-columns: 1fr;
		grid-template-areas:
			"nav"
			"main"
			"aside";
		
	}
	aside {
		grid-area: aside;
		position: fixed;
		bottom: 0;
	}
}
