@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
	--gunmetal: #272b30;
	--silver: #b7b5b3;
	--lapisLazuli: #145c9e;
	--ghostWhite: #fafaff;
	--offRed: #f40000;
}

body {
	background-color: var(--gunmetal);
}
.navbar {
	color: var(--silver);
}

.nav-link {
	font: normal 400 15pt "Ubuntu", Helvetica, sans-serif;
	color: var(--silver);
}
.nav-link:hover {
	color: var(--lapisLazuli);
}
.exit:hover {
	background-color: var(--offRed) !important;
	color: var(--ghostWhite);
}
/* .exit{
	font-size: 15pt;
	font: normal 400 "Ubunt", Times, sans-serif;
} */

.navbar-nav{
	display: flex;
}