@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

:root {
	/* ROOT COLORS */
	--color-01: #fff; /* white */
	--color-02: #111111; /* Night */
	--color-03: #f6f6f8; /* anti-flash white */
	--color-04: #0c203a; /* oxford blue */
	--color-05: #fe4e00; /* aerospace orange */

	--opacity-color-03: rgba(
		148,
		148,
		148,
		0.212
	); /* anti-flash white opacity 50%*/

	/*  FONTS */
	--main-font-family: "Roboto";
	--main-font-size: 12pt;

	/* BASE BORDER */
	--base-border-width-1: 1px;
	--base-border-width-2: 2px;
	--base-border-style: solid;
}

body {
	@apply font-sans w-screen;
}

.content {
	@apply w-full mb-4 px-1 py-1;
}

.sidebar-item {
	@apply list-none hover:bg-slate-500 transition ease-in-out delay-100 lg:last:relative lg:last:bottom-76;
}

.sidebar-link {
	@apply flex items-center gap-4 px-4 py-3 no-underline w-full;
}

.sidebar-name {
	@apply text-sm max-lg:hidden;
}

.card {
	@apply flex justify-between items-center w-60 h-24 bg-white rounded-md shadow-md shadow-black border-l-8  max-lg:flex-row-reverse max-lg:w-52 max-lg:h-16 max-lg:border-2 max-lg:border-l-2;
}

.input-group {
	@apply flex items-center border border-gray-300 rounded-md;
}

.input-group-text {
	@apply bg-gray-200 text-gray-700 px-3 py-3 rounded-l-md;
}

.mirror {
	@apply w-160 max-lg:w-auto bg-white/20 rounded-lg shadow-lg shadow-black/10 backdrop-blur-[6.7px] border border-white/30 px-[15px] py-[30px];
}

.label {
	@apply text-base;
}

.input-group-control {
	@apply flex-1 p-2 ring-0 rounded-r-lg w-full;
}
.form-control {
	@apply flex-1 p-2 ring-0 w-152 max-lg:w-auto rounded-lg border-2 border-gray-400;
}

.button-control {
	@apply flex-1 w-full p-2 bg-blue-950 text-white text-xl h-14 hover:bg-blue-700 cursor-pointer rounded-md;
}

.alert {
	@apply flex items-center justify-between font-semibold px-4 py-3 rounded-md border-l-8;
}

.alert-danger {
	@apply bg-red-200 border-l-red-500;
}

.alert-warning {
	@apply bg-yellow-200 border-l-yellow-300;
}

.alert-success {
	@apply bg-green-200 border-l-green-500;
}

.alert-info {
	@apply bg-blue-200 border-l-blue-500;
}
