<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head_meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock head_meta %}

    {% block head_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock head_css %}
    {% if title %}
        <title>{{ title }}</title>
    {% endif %}
</head>
<body class="h-screen w-screen">
    {% block body %}
    <nav class="h-12 w-full bg-black px-6 fixed top-0">
        <div class="flex justify-between items-center h-full">
            <div class="text-white text-lg font-bold">{{ admin_view.name }}</div>
        </div>
    </nav>
    <main class="w-full flex justify-between">
        <aside class="h-full w-52 bg-blue-900 fixed left-0 top-12">
            <div class="h-full w-full">
                <ul>
                    <li><a href="{{ url_for('admin.add_librarian') }}">Bibliotecário</a></li>
                    <li><a href="#">Estudante</a></li>
                </ul>
            </div>
        </aside>
        <section class="w-full">
            
            {% block page_body %}
            {% endblock page_body %}
            
        </section>
    </main>
    {% endblock body %}
</body>
</html>