{% extends "admin/layout.html" %}

{% block title %}Librarian{% endblock %}

{% block page_body %}
<div class="container">
    <h1>Librarian</h1>
    <p>Welcome to the Librarian page!</p>
    <p>Here you can manage books, authors, and other library resources.</p>
    <ul>
        <li><a href="">Add Book</a></li>
        <li><a href="">View Books</a></li>
        <li><a href="">Add Author</a></li>
        <li><a href="">View Authors</a></li>
        <li><a href="">View Borrowed Books</a></li>
    </ul>
</div>

{% endblock page_body %}